.idea
*.ipynb_checkpoints
__pycache__
.DS_Store
elec-bol20.iml
~$*.xlsx
elec_bol20/cart/cart
elec_bol20/cart_
elec_bol20.egg-info
elec_bol20/aux/
.Rproj.user
venv_elecbol20/
.Rhistory
*.egg-info

z100_mas_chi2019_mas2020.ipynb
z100_mas_chi2019_mas2020.py
z100_mas_chi2019_mas2020_fun.py